html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom:75px;
    font-size:1.5vw !important;
    background: url("./public/images/background.jpg");
    overflow-x: hidden;
    overflow-y:scroll;
    background-color:#0D47A1;
}



h3{
    font-size: 1.75vw;
}

p{
    font-size: 1.5vw;
}

.navBar .main .footer{
    width:100%;
}

.navOptions{
    font-size: 1.5vw !important; 
}

.dropdownOptions{
    display:block;
    padding:15px;
}

@font-face {
    font-family: 'social';
    src: url('socialfont.eot');
    src: url('socialfont.eot?#iefix') format('embedded-opentype'),
         url('./public/socialfont.woff') format('woff'),
         url('socialfont.ttf') format('truetype'),
         url('socialfont.svg#social') format('svg');
    font-weight: normal;
    font-style: normal;
}

.OSIJobs{
    padding-left:30px;
    font-size:1.5vw !important;
}

.social{ 
    display:inline-block;
    top: 1.8vh; 
    left: 1.68vw; 
    font-family: 'social'; 
    font-size: 30px; 
    color: #999; 
    text-decoration:none; 
}
.facebook:hover { 
    color: #3b5999; 
}
.linkedIn:hover { 
    color: #3692c3; 
}
.twitter:hover { 
    color: #00c4f8; 
}

#panel, #dropdown {
    padding: 5px;
    text-align: right;
  }
  
#panel {
padding: 50px;
display: none;
z-index:100000 !important;
}

@media(max-width:992px){
  
    .show-on-med-and-down{
        display:visible;
    }
    h1{
        font-size: 3vw;
    }
    h2{
        font-size:2vw;
    }
    
    p{
        font-size:14px;
    }
    
    ul,div{
        font-size: 1.5vw;
    }


    .bullet-content li{
        margin:0;
    }
}

@media(min-width:993px){
    .show-on-med-and-down{
        display:none;
    }
}

.show{
    visibility:visible;
}

.sliderImage{
    padding-top:8vh;  
}

.sliderImage img{
    width: 80%;
    height:100%;
    margin:0 auto;
    z-index:100;
}

.sliderText{
    padding-top:8vh;
    width:50vw;
}

.bullet-content li{
    margin:17px;
    list-style-type: circle !important;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.headerDiv{
    border-radius: 10px;
    margin:25px;
    /* border-left:-25px;
    border-right:-25px; */
    color:white;
}

.headerText{
    margin-left: 30px;
    align-self: center;
}

.member{
    margin-bottom: 60px;
}
.memberImage{
    width:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top:30px;
}

.contactImage,.ventureImage{
    width:100%;
}

.servicesContent{
    margin-bottom:60px;
}

.servicesContent p,ul{
    margin: 30px;
}

.servicesContent:nth-child(2n+1) img{
    margin-top:50%;
}

.servicesContent:nth-child(4) img{
    margin-top: 40%;
}


.servicesContent:last-child img{
    margin-top:0vh;
}

.servicesImage{
    width:100%;
}
