/* 
*this is just to hide the link to the test page
*/

.testClass{
    color:#0d47a1;
}
.testClass:hover{
    background-color:rgba(0, 0, 0, 0) !important;
    transition:none !important;
    cursor:default;
}

/* 
*This was just to hide the link to the test page
*/

.testPage{
}

.testNavBar{
    position:fixed;
    margin-top:-120px;
    z-index:30;
}

.testPageContent{
    margin-top:120px;
}


.testHeaderDiv{
    border-radius: 10px;
    margin:25px;
    /* border-left:-25px;
    border-right:-25px; */
    color:#062F4F;
}

.testHeaderText{
    margin-left: 30px;
    align-self: center;
}

.testFooter{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color:#062F4F;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.insideContainer{
    background-color: rgba(148, 153, 156, 0.8);
}